* {
    font-family: sans-serif;
    color:black;
    background-color: white;
    box-sizing: border-box;
  }

   /* Full-width input fields */
   input[type=text], input[type=password],textarea,select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color:black;
  }
  
  .left {
    width: 100%;
  }
  
  .right {
    width: 100%;
  }
  /* Set a style for all buttons */
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  #btndel{
    background-color: red;

  }

  #btnupdate{
    background-color:green;

  }

  #btnclose{
    background-color:black;
  }

  
.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  padding: 10px;
  min-height:175px;
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}
