* {
    font-family: sans-serif;
    font-size:medium;
    color:white;
    background-color: green;
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }


  jw-modal {
    /* modals are hidden by default */
    display: none;

    
  }
  

  body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}