* {
    font-family: sans-serif;
    color:black;
    /*background-color: #4CAF50;
    background-color:;*/

  }

 

  table {
    width: 100%;

  }
  
  .mat-form-field {
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  mat-paginator{
    width: 100%;

  }
  /* Set a style for all buttons */
button {
  background-color:chocolate;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
